<div id="sayacdiv">
    <section class="banner" style="background-image: url(https://digiturk-internet.com.tr/Upload/Diger/digi-sayac-banner.png);">
        <div class="banner__title">
            <!-- <div class="sayacSol">
                <h5>LİGE ERKEN GEL <span>%50</span> İNDİRİMİ YAKALA!</h5>
                <div class="takımLogo">
                    <img src="/Upload/Diger/besiktas.png" >
                    <img src="/Upload/Diger/fenerbahce.png" >
                    <img src="/Upload/Diger/galatasaray-1.png" >
                    <img src="/Upload/Diger/trabzonspor.png" >
                </div>
            </div> -->
            <div class="team1">
                <img src="https://digiturk-internet.com.tr/Upload/Diger/kasimpasa.png" alt="Digitürk İnternet" />
                <span>Kasımpaşa</span>
            </div>
            <div class="time">17:00</div>
            <div class="team2">
                <span>Antalyaspor</span>
                <img src="https://digiturk-internet.com.tr/Upload/Diger/21_1.png" alt="Digitürk İnternet" />
            </div>
        </div>
        <div class="banner__timer">
            <div id="flipdown" class="flipdown flipdown__theme-dark">
                <div class="rotor-group">
                    <div class="rotor-group-heading" data-before="Gün"></div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">0</figure>
                            <figure class="rotor-leaf-front">0</figure>
                        </div>
                        <div class="rotor-top">0</div>
                        <div class="rotor-bottom">0</div>
                    </div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">0</figure>
                            <figure class="rotor-leaf-front">0</figure>
                        </div>
                        <div class="rotor-top">0</div>
                        <div class="rotor-bottom">0</div>
                    </div>
                </div>
                <div class="rotor-group">
                    <div class="rotor-group-heading" data-before="Saat"></div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">1</figure>
                            <figure class="rotor-leaf-front">1</figure>
                        </div>
                        <div class="rotor-top">1</div>
                        <div class="rotor-bottom">1</div>
                    </div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">6</figure>
                            <figure class="rotor-leaf-front">6</figure>
                        </div>
                        <div class="rotor-top">6</div>
                        <div class="rotor-bottom">6</div>
                    </div>
                </div>
                <div class="rotor-group">
                    <div class="rotor-group-heading" data-before="Dakika"></div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">4</figure>
                            <figure class="rotor-leaf-front">4</figure>
                        </div>
                        <div class="rotor-top">4</div>
                        <div class="rotor-bottom">4</div>
                    </div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">8</figure>
                            <figure class="rotor-leaf-front">8</figure>
                        </div>
                        <div class="rotor-top">8</div>
                        <div class="rotor-bottom">8</div>
                    </div>
                </div>
                <div class="rotor-group">
                    <div class="rotor-group-heading" data-before="Saniye"></div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">5</figure>
                            <figure class="rotor-leaf-front">5</figure>
                        </div>
                        <div class="rotor-top">5</div>
                        <div class="rotor-bottom">5</div>
                    </div>
                    <div class="rotor">
                        <div class="rotor-leaf">
                            <figure class="rotor-leaf-rear">9</figure>
                            <figure class="rotor-leaf-front">9</figure>
                        </div>
                        <div class="rotor-top">9</div>
                        <div class="rotor-bottom">9</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__content">
            <div class="banner__price">
                <span>
                    Taraftar Paketi
                </span>
                <div class="line"></div>
                <div class="banner__price__main">
                    <p>
                        12 Ay<br />
                        Boyunca
                    </p>
                    <span><span class="banner-tl">₺</span>299</span>
                </div>
            </div>
            <div class="banner__button">
                <button id="myBtn" class="vs-btn vs-btn-top">Hemen Başvur</button>
            </div>
        </div>
        <div class="banner__close">
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.377256 10.7839C-0.125752 11.2909 -0.125752 12.1129 0.377256 12.6198C0.880264 13.1268 1.6958 13.1268 2.19881 12.6198L6.49993 8.28475L10.8012 12.62C11.3042 13.1269 12.1197 13.1269 12.6227 12.62C13.1257 12.113 13.1257 11.291 12.6227 10.784L8.32148 6.44881L12.5209 2.21618C13.024 1.7092 13.024 0.887218 12.5209 0.380236C12.0179 -0.126745 11.2024 -0.126746 10.6994 0.380235L6.49993 4.61287L2.30058 0.380349C1.79758 -0.126632 0.982038 -0.126631 0.47903 0.38035C-0.0239775 0.887331 -0.0239785 1.70931 0.479029 2.21629L4.67838 6.44881L0.377256 10.7839Z"
                      fill="white"></path>
            </svg>
        </div>
    </section>
</div>
