@model CreateMatchDto
@{
    ViewData["Title"] = "CreateMatch";
    Layout = "~/Areas/Admin/Views/AdminUILayout/_UILayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Maç Ekleme</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Ev Sahibi Takım</label>
                        <input type="text" class="form-control" asp-for="Team1" />
                        <br />
                        <label>Konuk Takım</label>
                        <input type="text" class="form-control" asp-for="Team2" />
                        <br />
                        <label>Ev Sahibi Takım Logo Url</label>
                        <input type="text" class="form-control" asp-for="Team1LogoUrl" />
                        <br />
                        <label>Konuk Takım Logo Url</label>
                        <input type="text" class="form-control" asp-for="Team2LogoUrl" />
                        <br />
                        <label>Maç Zamanı</label>
                        <input type="datetime-local" class="form-control" asp-for="MatchTime" />
                        <br />
                        <button class="btn btn-primary">Yeni Maç Ekle Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

