
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>



<script>


    function todyonlendir(paket) {

        $.post("/Home/TodBeinPaketSecim?paket="+ paket +"", function () {
             location.href = '/tod-basvuru-formu';
        })


    }

    function beinyonlendir(paket) {
         $.post("/Home/TodBeinPaketSecim?paket="+ paket +"", function () {
             location.href = '/bein-connect-basvuru-formu';
        })
    }
</script>


<script type="text/javascript">
    jQuery.event.special.touchstart = {
        setup: function (_, ns, handle) {
            this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
        }
    };
    jQuery.event.special.touchmove = {
        setup: function (_, ns, handle) {
            this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
        }
    };
    jQuery.event.special.wheel = {
        setup: function (_, ns, handle) {
            this.addEventListener("wheel", handle, { passive: true });
        }
    };
    jQuery.event.special.mousewheel = {
        setup: function (_, ns, handle) {
            this.addEventListener("mousewheel", handle, { passive: true });
        }
    };
</script>
<!-- Swiper JS -->

<script src="https://cdn.rawgit.com/RobinHerbots/Inputmask/4.x/dist/min/jquery.inputmask.bundle.min.js"></script>



<script src="/Content/assets/js/app.min.js"></script>


<script src="/Content/assets/js/main.js"></script>


<script src="/Content/assets/js/custom.js"></script>


<script type="text/javascript">
    let slideIndex = 1;
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }

    showSlides(slideIndex);
</script>

<script src="https://www.google.com/recaptcha/api.js?render=6LdXUtQlAAAAAL_A6mACxoYll2UmOutt_aku1DCE"></script>



<script type="text/javascript">



        grecaptcha.ready(function () {
            capthca();
            setTimeout(function () {

            },200)


        });



        function capthca() {
            grecaptcha.execute('6LdXUtQlAAAAAL_A6mACxoYll2UmOutt_aku1DCE', { action: 'paket' })
                .then(function (token) {

                    $(".g-token").val(token);
                });
        }


        $("#hizlibasvuru button, #hizlibasvuru2 button,#basvuruform button").click(function () {
            var aydinlatma = $(this).parents("form").find("input[name=chkaydinlatma]");
            var deger = aydinlatma.prop("checked");


            if (!deger) {
                var label = aydinlatma.next("label");


                label.addClass("lblhata");



               /* label.tooltip({content:"Test", track: true, disabled: true})*/
            }
            else {
                label.removeClass("lblhata");
            }

        })




        function basvurusonuc(data) {


    //var dk = 1000 * 30 * 1;

    //setTimeout(function () {

    //}, dk)

            capthca();


    if (data == 1) {

        swal({
            title: "Gönderildi!",
            text: "Başvurunuz tarafımıza ulaşmıştır, en kısa sürede size dönüş sağlayacağız.",
            type: "success",
            confirmButtonClass: "btn-success"
        });


        $("#hizlibasvuru")[0].reset();

        var hizliform2 = $("#hizlibasvuru2").html();

        if (hizliform2 != undefined) {
            $("#hizlibasvuru2")[0].reset();
        }


        var basvuruform = $("#basvuruform").html();

        if (basvuruform != undefined) {
            $("#basvuruform")[0].reset();
        }








        setCookie("adsoyad", $(this).val(), -1);
        setCookie("telefon", $(this).val(), -1);
    }
    else if (data == -2) {
        swal({
            title: "Hata!",
            text: "Başvuru gerçekleştirebilmeniz için iletişim izni vermeniz gerekmektedir.",
            type: "info",
            confirmButtonClass: "btn-danger"
        });
    }
    else {

        swal({
            title: "Hata!",
            text: "Başvuru esnasında hata, lütfen daha sonra tekrar deneyiniz!",
            type: "info",
            confirmButtonClass: "btn-danger"
        });
    }



        }


        function sorgusonuc(data) {
            $("#sorgumsg").html("");

            if (data.sonuc == 1) {

                var temp = $("#sorgutemp").html();
                temp = temp
                    .replace(/{{basvurutarihi}}/g, data.cevap.basvurutarihi)
                    .replace(/{{durum}}/g, data.cevap.basvurudurumu)
                    .replace(/{{guncellenmetarihi}}/g, data.cevap.sonislemtarihi)
                    ;

                $("#sorgumsg").html(temp);

            }
            else {
                $("#sorgumsg").html("<span class='formTitle' style='color:red'>Sonuç bulunamadı!</span>");
            }


        }



</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>





<script>
    var swiper = new Swiper(".maclar", {

        loop: true,
        //slidesPerView: 4,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            1920: {
                slidesPerView: 4,
                spaceBetween: 30
            },
            1028: {
                slidesPerView: 4,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            480: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            360: {
                slidesPerView: 1,
                //spaceBetween: 30
            }
        }
    });




</script>


<script>
    $(document).ready(function(){
      $('.site-main-slider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          fade: true,
          dots: true,
          autoplay: true,
          autoplaySpeed: 8500,
          nextArrow: '<i class="icon fa fa-arrow-right nextArrowBtn"></i>',
          prevArrow: '<i class="icon fa fa-arrow-left prevArrowBtn"></i>'
      });
    });
</script>






<script id="sayacscripts">



        var twoDaysFromNow = (new Date().getTime() / 1000) + (86400 * 0) + 2521;

        //var twoDaysFromNow = (new Date().getTime() / 1000) + (86400 * 6) + 28800;


        var flipdown = new FlipDown(twoDaysFromNow, {
            headings: ["Gün", "Saat", "Dakika", "Saniye"],
        })
            // Start the countdown
            .start()
            // Do something when the countdown ends
            .ifEnded(() => {
                console.log("The countdown has ended!");
            });
        $(function () {
            $(".banner__close").click(function () {
                $(".banner").addClass("is__none");
            });
        });
        $('.banner__close').click(function () {
            $('header').addClass("thecode__active");
        });


        screenCheck();


        $(window).resize(function () {
            screenCheck();
        })

        var islem = true;


        function screenCheck() {


            var width = $("body").width();

            if (width <= 768) {
                mobileHeader();
            }
            else {
                desktopHeader();
            }
        }

        function mobileHeader() {
            $(window).scroll(function () {

                if (islem) {
                    var height = $(this).scrollTop();


                    if (height > 217) {
                        $("header").removeClass("header-top217");
                        $("header").addClass("header-top0");
                    }
                    else {
                        $("header").removeClass("header-top0");
                        $("header").addClass("header-top217");
                    }
                }

            })

        }

        function desktopHeader() {
            $(window).scroll(function () {

                if (islem) {
                    var height = $(this).scrollTop();


                    if (height > 120) {
                        $("header").removeClass("header-top120");
                        $("header").addClass("header-top0");
                    }
                    else {
                        $("header").removeClass("header-top0");
                        $("header").addClass("header-top120");
                    }
                }

            })

        }


    $("#sayacdiv #myBtn").click(function () {
        $('#myModal').css('display', 'block')
    })

        $(".banner__close").click(function () {
            $("header").removeClass("header-top217");
            $("header").removeClass("header-top120");
            $("header").addClass("header-top0");
            islem = false;
        })

</script>

<script>

    $("#sayacdiv").load("/Home/PartialSayac", function () {
            $("#sayacscripts").load("/Home/PartialSayacScripts");
        })

</script>



<script id="sorgutemp" type="text/template">

    <span class='formTitle'>Başvuru Durumunuz:</span>
    <table class="basvurutable">
        <tbody>
            <tr>
                <th>Başvuru Tarihi:</th>
                <td>{{basvurutarihi}}</td>
            </tr>
            <tr>
                <th>Başvuru Durumu:</th>
                <td>{{durum}}</td>
            </tr>
            <tr>
                <th>Güncellenme Tarihi:</th>
                <td>{{guncellenmetarihi}}</td>
            </tr>
        </tbody>
    </table>

</script>



<script type="text/template" id="cerez">


    <div class="cc-grower" style="max-height: 38px;">
        <div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-classic cc-static cc-top cc-color-override-342326720 " style="">

            <div class="col-lg-11 text-center">

                <span id="cookieconsent:desc" class="cc-message">Sitemizden en iyi şekilde faydalanabilmeniz için çerezler kullanılmaktadır. Sitemizde ilgili mevzuata uygun olarak kullanılan çerezlerle ilgili bilgi almak için lütfen tıklayınız. <a aria-label="çerezler hakkında" role="button" tabindex="0" class="cc-link" href="/cerez-politikasi" target="_blank">Daha fazla bilgi</a></span>
            </div>

            <div class="cc-compliance">
                <a aria-label="çerez kabul edilmedi" role="button" tabindex="0" class="cc-btn cc-dismiss" onclick="cerezkapat()">X</a>
            </div>
        </div>
    </div>

</script>


<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>

<link href="/Scripts/sweetalert.min.js">
<script src="/Scripts/sweetalert.min.js"></script>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper5", {
        slidesPerView: 4,
        scrollbar: {
            el: ".swiper-scrollbar",

        },
    });
</script>

<link href="/Content/sweetalert.css" rel="stylesheet">


<!-- Google Tag Manager -->
<script async="">
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KC6B9P3');</script>
<!-- End Google Tag Manager -->
<!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=ac6f2d7c-4a06-458f-a2fc-51f627907c06" async=""> </script>
<!-- End of  Zendesk Widget script -->
