<footer class="footer-wrapper footer-layout1 background-image" style="background-image: url(&quot;/Content/assets/img/bg/footer-bg-1-1.jpg&quot;);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="newsletter-style1">
                    <div class="newsletter-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <h3 class="newsletter-title">Hızlı Başvuru Hattı</h3>
                    <p class="newsletter-text">0850 255 73 73</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="newsletter-style1">

                    <form action="/Home/EBultenKayit?Length=4" data-ajax="true" data-ajax-method="Post" data-ajax-success="ebultensonuc" id="bultenform" method="post">
                        <div class="form-group">
                            <div class="footer-formTitle">
                                Digitürk fırsatları kampanya ve duyuruları ile ilgili e-posta almak ister misiniz ?
                            </div>
                            <input type="email" required="" name="Eposta" placeholder="E-Posta Adresiniz">


                            <input name="gtoken" class="g-token" type="hidden" value="03AFcWeA64UY0GvR5Aybju6fj_VDb15wYHcVl81q-JRKWKIuplSc-xpWFSd02AoBZAS2J-GNIofr8lj8RqKl9HCKf3E52lQO35QqwWmwJqzMM8aE5uERGy5XFUCS5bRiW6Tj74jJlP-2ZzlNkXsg0kvdSfaWl6JSfLsw4s499-IwcjGoNTdjFMHrMqnWvjhwoGX5EAKQU8r_ZRqA-seijAj3D8xLbTLnVr46uo1v82ZPmSJmQ_DLb-rO83a7HQnk5Z8jBJNt-mzA0NbD6RmNSPtButlfVw6LyCzq_IxVS7qNtn2nGpOUyDPSkhvZ0hV_9mcfE7eRiBy1XJ2k8SOuSB-V-lp_bEjgNelnx4nR7CPXzeGaUqFdhldUtLB9zyg9CSiFZ-ghc7Um4TorGQL2PUB4quEBMnQ_lVy5BT9aw1-Yq6_DGWGMKDP15Vnx6Z1RjjG8hOrJYDeaTJiIjOZ3UqxaVyPcAgePj9NKFNhULzjppp0_1t1n6dTsiSuN0f8jSc3oGbvdscrrpTTPqoFVJK92YT4pMKKdkxlBcx6FXSRq5yWY3nMuoc72dTFHrmZ5QH68nHhKBLXOZ9y5ZSIg3TpluHEd-5p_dX3pxP-qGdoFyDbauAzLgM8tG-x_SbI73WK25-LnZkcs8J4CUe0vWXgCBCr3A0MnmsXC-jsmvwmI5ZsM8SSi1Qe_5G9q4Feeb67pqG5rLC5R8hBmO2gToeKF8G62RFR3lbzqthxaaFHToyBx-7cZv0bzRB8mOSFJHkyfhy3W5my8_I8VckbPLon04QHFaQUalrhBRmC7ZJ23vdjNNEieo6NRWiVmIotr-fzIYq1k_eesOpn19vCcVlbt59Hl7COqGsqETC1go4SbF4lnD8vTzKK_28Ne-fs3xBG3yUhF36n0-_mH3rBSzoZvdH6GTBYRtK3hLTnGlwXLXfTbcFCp98eQOh_GR9uyJLBjBIe2GWdaX-h6zHJ77FdOrk3hEwqCiZPCflhGDgV92_5xkcCvb_KHkAUJ1muG9bMishUDypESShDpPIfNS6rpI39gxLvIxke2I6ianKoRMdMpp-OU07Zm_W_ydlAEGdw6My-7XqN6p9EW0w6MaUYeMPXSY78UFZFkbDb4Ibk1IAxt9ZLDsyLb5uKU0K_YLTe4Z1_bVpClXifr1My3Y7hLXEBS60mDwRD-mCQTpkx7bmybvUEBkncUWYaankyWF5M91MVsX1RRPYvo6j_imLTDKqbrw6pFK2Yav14kvHPwuIRY2R4Z88TA7pvR__ml7ODv10Npi8RWhTW7420KL3RMb1OU2jPpwcywSSBaTL3zn78XBAicL6y6DlhS1kndKB34j8QKvGK8ailmKF1QGIb0H0OY2_KYP-mqaXcfmfDwNvP4_1rtWWdV80bGuqmNUIE6yMrFnsZUOZZ_D-V7jODX8wBBZCo1GGcH61QmrzxpzHPziOV2D1gRdCu3T5K4pUFcwicwsjknwISev9BliE9RfhWQ2kEg742t5INn_9Do0Dg4wG1DxxVzhJPQ1w4xmpm8x7YkTAmdVxNFqFSqkrfPuL4ehdNDrqa5_Cyah_Aj2bBBwu2FAzjld_7Lwe9PmssBInC0XOTAE9F_zjcHA5LIgkbrLGcWkGgCn-eOltQq2ssRQxY7XKaR6eu9oH53QCCqmb9x12j_Y0yXkgZICYH1zx7_2PDBO5OmTSJozkdnL5RFcasQ6zHtk7GaqDID-dfMSONyIIYx2lxf_VKWmDV_3bqQMS82IKFI9a-O43ZQfRAhJDWU-rJgHbxMa7XYbqyWcDAVHdF8sZVSou1muZkvn4ToH9Z_M6D5k18mYCYh00J6q_PUzrenFI3PSGmoa0Io28GNzOXnKtSLM2nXLRjkYFHjLs9o40_w">

                            <button class="vs-btn">Gönder</button>

                            <p class="pmaText"><a href="/kisisel-verilerin-korunmasi" target="_blank">*Potansiyel Müşteri Aydınlatma</a> metnine ulaşmak için tıklayın.</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="widget-area">
        <div class="container-fluid">
            <div class="row justify-content-between">


                <div class="col-md-auto col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Tod TV Paketleri</h3>
                        <div class="row gy-4">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:todyonlendir('Sporun Yıldızı Paketi Kredi Kartlı')">Sporun Yıldızı Paketi Kredi Kartlı</a>
                                        </li>
                                        <li>
                                            <a href="javascript:todyonlendir('Digiturk Sporun Yıldızı (Kutusuz)')">Digiturk Sporun Yıldızı (Kutusuz)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:todyonlendir('Digiturk Taraftar Paketi (Kutusuz)')">Digiturk Taraftar Paketi (Kutusuz)</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Bein Connect Paketleri</h3>
                        <div class="row gy-4">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:beinyonlendir('Sporun Yıldızı Paketi Kredi Kartlı')">Sporun Yıldızı Paketi Kredi Kartlı</a>
                                        </li>
                                        <li>
                                            <a href="javascript:beinyonlendir('Digiturk Sporun Yıldızı (Kutusuz)')">Digiturk Sporun Yıldızı (Kutusuz)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:beinyonlendir('Digiturk Taraftar Paketi (Kutusuz)')">Digiturk Taraftar Paketi (Kutusuz)</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">İnternet + TV Kampanyaları</h3>
                        <div class="row gy-4">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="/digiturk-internetli-sporun-yildizi-kutusuz">Digitürk İnternetli Sporun Yıldızı (Kutusuz)</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-internetli-sporun-yildizi">Digiturk İnternetli Sporun Yıldızı</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-internetli-eglencenin-ve-avrupanin-yildizi-kutusuz">Digitürk İnternetli Eğlencenin ve Avrupanın Yıldızı (Kutusuz)</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-internetli-eglencenin-ve-avrupanin-yildizi">Digiturk İnternetli Eğlencenin Ve Avrupanın Yıldızı</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Spor / İnternetli Spor Paketleri</h3>
                        <div class="row gy-4">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="/digiturk-eglencenin-ve-avrupanin-yildizi">Digiturk Eğlencenin ve Avrupanın Yıldızı</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-taraftar-paketi">Digiturk Taraftar Paketi</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-illere-ozel-super-lig-faturali">Digiturk İllere Özel Süper Lig Faturalı</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-sporun-yildizi">Digiturk Sporun Yıldızı</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-internetli-taraftar-paketi">Digiturk İnternetli Taraftar Paketi</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-internetli-sporun-yildizi">Digiturk İnternetli Sporun Yıldızı</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Kurumsal</h3>
                        <div class="row gy-4">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="/kisisel-verilerin-korunmasi">Kişisel Verilerin Korunması</a>
                                        </li>
                                        <li>
                                            <a href="/bayilik-basvurusu">Bayilik Başvurusu</a>
                                        </li>
                                        <li>
                                            <a href="/cerez-politikasi">Çerez Politikası</a>
                                        </li>
                                        <li>
                                            <a href="/iletisim">İletişim</a>
                                        </li>
                                        <li>
                                            <a href="/digiturk-sikca-sorulan-sorular">Digiturk Sıkça Sorulan Sorular</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Üyelere Özel</h3>
                        <div class="row gy-4">
                            <div class="col-auto">
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li>
                                            <a href="//paketler/digiturk-internet-paketleri">Tüm Kampanyalar</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-xl-8">
                <div class="newsletter-style1 pb-40">
                    <div class="header-social">

                        <a href="https://www.facebook.com/profile.php?id=61556715481108" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.facebook.com/digiturkonline" title="Twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/digiturkonline" title="Dribbble"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/digiturkonline_" title="İnstagram"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>