<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
        <button class="vs-menu-toggle">
            <i class="fas fa-times"></i>
        </button>
        <div class="mobile-logo">
            <a href="/">
                <img src="https://digiturk-internet.com.tr/Content/assets/img/logo.png" width="135" height="47" alt="Digitürk İnternet">
            </a>
        </div>
        <div class="vs-mobile-menu">
            <ul>

                <li class="menu-item-has-children">
                    <a href="/tod">Tod TV</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="/bein-connect">beIN CONNECT</a>
                </li>
                <li class="menu-item-has-children vs-item-has-children">

                    <a href="#">Digiturk Paketleri<span class="vs-mean-expand"></span></a>

                    <ul class="sub-menu vs-submenu" style="display: none;">

                        <li>
                            <img src="https://digiturk-internet.com.tr/Upload/Diger/populer logo guncel.jpg">
                        </li>
                        <li><a href="#"><b>Popüler Kampanyalar</b></a></li>
                        <li>
                            <a href="/formula-1">Formula 1 Paketi</a>
                        </li>
                        <li>
                            <a href="/digiturk-eglencenin-ve-avrupanin-yildizi">Digiturk Eğlencenin ve Avrupanın Yıldızı</a>
                        </li>
                        <li>
                            <a href="/digiturk-illere-ozel-super-lig-faturali">Digiturk İllere Özel Süper Lig Faturalı</a>
                        </li>
                        <li>
                            <a href="/digiturk-sporun-yildizi">Digiturk Sporun Yıldızı</a>
                        </li>
                        <li>
                            <a href="/digiturk-taraftar-paketi">Digiturk Taraftar Paketi</a>
                        </li>
                        <li>
                            <a href="/hemen-basvur">Hemen Başvur</a>
                        </li>
                        <li>
                            <a href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                        </li>
                        <li>
                            <img src="https://digiturk-internet.com.tr/Upload/Diger/www.reallygreatsite.com (4).png">
                        </li>
                        <li><a href="#"><b>Uydu Alıcılı Kampanyalar</b></a></li>
                        <li>
                            <a href="/digiturk-eglencenin-ve-avrupanin-yildizi">Digiturk Eğlencenin ve Avrupanın Yıldızı</a>
                        </li>
                        <li>
                            <a href="/digiturk-illere-ozel-super-lig-faturali">Digiturk İllere Özel Süper Lig Faturalı</a>
                        </li>
                        <li>
                            <a href="/digiturk-taraftar-paketi">Digiturk Taraftar Paketi</a>
                        </li>
                        <li>
                            <a href="/digiturk-sporun-yildizi">Digiturk Sporun Yıldızı</a>
                        </li>
                        <li>
                            <a href="/formula-1">Formula 1 Paketi</a>
                        </li>
                        <li>
                            <a href="/digiturk-yildiz-dolu">Digiturk Yıldız Dolu</a>
                        </li>
                        <li>
                            <a href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                        </li>
                        <li>
                            <img src="https://digiturk-internet.com.tr/Upload/Diger/uydu-alicisiz.png">
                        </li>
                        <li><a href="#"><b>Uydu Alıcısız Kampanyalar</b></a></li>
                        <li>
                            <a href="/digiturk-taraftar-paketi-kutusuz">Digiturk Taraftar Paketi (Kutusuz)</a>
                        </li>
                        <li>
                            <a href="/digiturk-sporun-yildizi-kutusuz">Digiturk Sporun Yıldızı (Kutusuz)</a>
                        </li>
                        <li>
                            <a href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children vs-item-has-children">

                    <a href="#">Digiturk İnternet Paketleri<span class="vs-mean-expand"></span></a>

                    <ul class="sub-menu vs-submenu" style="display: none;">

                        <li>
                            <img src="https://digiturk-internet.com.tr/Upload/Diger/net.png">
                        </li>
                        <li><a href="#"><b>İnternet + TV Kampanyaları</b></a></li>
                        <li>
                            <a href="/digiturk-internetli-eglencenin-ve-avrupanin-yildizi">Digiturk İnternetli Eğlencenin Ve Avrupanın Yıldızı</a>
                        </li>
                        <li>
                            <a href="/digiturk-internetli-eglencenin-ve-avrupanin-yildizi-kutusuz">Digitürk İnternetli Eğlencenin ve Avrupanın Yıldızı (Kutusuz)</a>
                        </li>
                        <li>
                            <a href="/digiturk-internetli-sporun-yildizi-kutusuz">Digitürk İnternetli Sporun Yıldızı (Kutusuz)</a>
                        </li>
                        <li>
                            <a href="/digiturk-internetli-sporun-yildizi">Digiturk İnternetli Sporun Yıldızı</a>
                        </li>
                        <li>
                            <a href="/paketler/digiturk-internet-paketleri">Tüm Kampanyalar</a>
                        </li>
                    </ul>
                </li>


            </ul>
            <div class="mobileButton m-menuButton">
                <button id="myBtn1" class="vs-btn">Sizi Arayalım</button>
                <a class="vs-btn" href="/canli-yayin">Canlı Yayın</a>


                <a class="vs-btn" href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                <a class="vs-btn" href="/hemen-basvur">Hemen Başvur</a>
            </div>
        </div>
    </div>
</div>
<header class="vs-header header-layout4 thecode__active header-top0">
    <div class="sticky-wrapper" style="">
        <div class="sticky-active">
            <div class="menu-area">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="/">
                                    <img width="135" height="47" loading="lazy" src="/Content/assets/img/logo.png" alt="Digitürk İnternet">
                                </a>
                            </div>
                        </div>
                        <div class="col-auto col-xl text-right">
                            <nav class="main-menu menu-style3 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a href="/tod">Tod TV</a>
                                    </li>
                                    <li>
                                        <a href="/bein-connect">beIN CONNECT</a>
                                    </li>
                                    <li class="menu-item-has-children mega-menu-wrap">
                                        <a href="#">Digiturk Paketleri</a>
                                        <ul class="mega-menu text-center">


                                            <li>

                                                <img loading="lazy" src="https://digiturk-internet.com.tr/Upload/Diger/populer logo guncel.jpg">
                                                <a href="#">Popüler Kampanyalar</a>
                                                <ul>
                                                    <li>
                                                        <a href="/formula-1">Formula 1 Paketi</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-eglencenin-ve-avrupanin-yildizi">Digiturk Eğlencenin ve Avrupanın Yıldızı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-illere-ozel-super-lig-faturali">Digiturk İllere Özel Süper Lig Faturalı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-sporun-yildizi">Digiturk Sporun Yıldızı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-taraftar-paketi">Digiturk Taraftar Paketi</a>
                                                    </li>
                                                    <li>
                                                        <a href="/hemen-basvur">Hemen Başvur</a>
                                                    </li>
                                                    <li>
                                                        <a href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                                                    </li>


                                                </ul>
                                            </li>
                                            <li>

                                                <img loading="lazy" src="https://digiturk-internet.com.tr/Upload/Diger/www.reallygreatsite.com (4).png">
                                                <a href="#">Uydu Alıcılı Kampanyalar</a>
                                                <ul>
                                                    <li>
                                                        <a href="/digiturk-eglencenin-ve-avrupanin-yildizi">Digiturk Eğlencenin ve Avrupanın Yıldızı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-illere-ozel-super-lig-faturali">Digiturk İllere Özel Süper Lig Faturalı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-taraftar-paketi">Digiturk Taraftar Paketi</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-sporun-yildizi">Digiturk Sporun Yıldızı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/formula-1">Formula 1 Paketi</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-yildiz-dolu">Digiturk Yıldız Dolu</a>
                                                    </li>
                                                    <li>
                                                        <a href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                                                    </li>


                                                </ul>
                                            </li>
                                            <li>

                                                <img loading="lazy" src="https://digiturk-internet.com.tr/Upload/Diger/uydu-alicisiz.png">
                                                <a href="#">Uydu Alıcısız Kampanyalar</a>
                                                <ul>
                                                    <li>
                                                        <a href="/digiturk-taraftar-paketi-kutusuz">Digiturk Taraftar Paketi (Kutusuz)</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-sporun-yildizi-kutusuz">Digiturk Sporun Yıldızı (Kutusuz)</a>
                                                    </li>
                                                    <li>
                                                        <a href="/paketler/digiturk-paketleri">Tüm Kampanyalar</a>
                                                    </li>


                                                </ul>
                                            </li>





                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children mega-menu-wrap">
                                        <a href="#">Digiturk İnternet Paketleri</a>
                                        <ul class="mega-menu text-center">


                                            <li>

                                                <img loading="lazy" src="https://digiturk-internet.com.tr/Upload/Diger/net.png">
                                                <a href="#">İnternet + TV Kampanyaları</a>
                                                <ul>
                                                    <li>
                                                        <a href="/digiturk-internetli-eglencenin-ve-avrupanin-yildizi">Digiturk İnternetli Eğlencenin Ve Avrupanın Yıldızı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-internetli-eglencenin-ve-avrupanin-yildizi-kutusuz">Digitürk İnternetli Eğlencenin ve Avrupanın Yıldızı (Kutusuz)</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-internetli-sporun-yildizi-kutusuz">Digitürk İnternetli Sporun Yıldızı (Kutusuz)</a>
                                                    </li>
                                                    <li>
                                                        <a href="/digiturk-internetli-sporun-yildizi">Digiturk İnternetli Sporun Yıldızı</a>
                                                    </li>
                                                    <li>
                                                        <a href="/paketler/digiturk-internet-paketleri">Tüm Kampanyalar</a>
                                                    </li>


                                                </ul>
                                            </li>





                                        </ul>
                                    </li>
                                </ul>
                            </nav>


                            <!-- The Modal -->
                            <div class="destkopModal">
                                <div id="myModal" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-body">


                                            <form action="/Home/PaketBasvuru?Length=4" class="appealForm" data-ajax="true" data-ajax-method="Post" data-ajax-success="basvurusonuc" id="hizlibasvuru" method="post">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="close">×</span>
                                                            <h5 class="h5-modal">Hemen Başvur</h5>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="p-modal">
                                                                Kampanyalarımız ve tüm gelişmeler hakkında detaylı bilgi almak için
                                                                formu doldurun, hemen sizi arayalım.
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mt-30">
                                                            <div class="col-sm-12">
                                                                <div class="form-group modalForm">
                                                                    <div class="formTitle">AD SOYAD</div>
                                                                    <input type="text" name="adsoyad" required="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ad ve soyadınız girin">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group modalForm">
                                                                    <div class="formTitle">TELEFON</div>
                                                                    <input type="tel" name="telefon" required="" class="form-control phone-mask" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0(5__) ___ __ __" im-insert="true">
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <div class="col-md-12">
                                                                <style>
                                                                    input[type=checkbox] ~ label:before {
                                                                        border: 2px solid #000;
                                                                    }
                                                                </style>
                                                                <input type="checkbox" id="vehicle211" name="chkaydinlatma" required="">
                                                                <label id="lblaydinlatma21" class="label-modal modelInput" style="color:#fff!important; font-size:14px" for="vehicle211">
                                                                    *Potansiyel Müşteri Aydınlatma Metnini Onaylıyorum. <a href="/kisisel-verilerin-korunmasi" target="_blank">Metnine ulaşmak için tıklayın.</a>
                                                                </label>
                                                            </div>



                                                            <!--<div class="col-md-12">
                                                            <div class="form-group modalForm">-->
                                                            <!--<div class="g-recaptcha" data-sitekey="6LfrrF0lAAAAABGPg6fo9MTlQXsdVOkhOTB5lNHK"></div>
                                                                </div>
                                                            </div>-->
                                                            <input name="gtoken" class="g-token" type="hidden" value="03AFcWeA6QUG_PwX9Cazo7NRPYMXNqYlITI50pc5npshid5u2U4TlBO6YOnY-TjDzIZ7zGOxXzdqCJHtxShyb-ZbU2Do-QFf6xfTQ5yCyTMb3mgSVC9lXle6WnoDicMI51A4XY_y5Gj3ETiiNk3gM1CYI4K8Wa6jF8AJPx-S-XPZMmDQydTMKFF8APM0-qbsmADBMuBr8C9k7VMUDX21G0TTtqcqKG3xpuK4NF05gVUJlnOXDSwREGjUFfkeF7p4jMU955o8Yk0G-l6GBM5tyyrNT09fV4mKV51sZXM941MuC2PR98pwWcsIaj_E3JhWC59wJuFzJ3DTwxXwcDyIAvMwBwzZ5QlecWvAaO8u8o_lZ88gI_P2seOrp7qh4OquS5bbBXHl0F5xviXOH2H60GFh9PzlO5Vj9lsB2JfCcl_xM_iP6s5ylFuwOW1M8LYbAtJuS78X5xfzavBZjmhCTS2HFtEpffzboHZSPxg_utvaazE8wrwKvV9Bl_ptfkadt8upWHhhwAtalklvf1eTjB0b_YvGAxsilevSFAx-kGvpJLGbTBXtMNLvxy85J6vFmXhnYMjWzZ0X37zK42BeBTqUIQE0YXauF6Si6tCNhxTR-a0z_OqQj1Fm8Uk0x8G9AXgWRNFkmI7aFdSo_So15i8m_LOhg-xjnjHjt8SxYiNggFGpZQiileHpo9Bhs1LlrdsmHYevkT9rfyCpGLvWBiwKcJApGLhP28XGCBwewaMkCpKXLsLbnhlKVfHWBjR8XI2MKPoW_m05WinPhrOryVrYkpOKt7cSgYg5zsT_YizaDy-zGIKZE2-fdVmMByerDi5X4gqU7qBnMlIIbdTmEMF2trYQkdZWsCTKeJBACflC57g0D9WvzA6eyyqqXg43zoGd-b2x2wMtz7TRGUJwJm9rxq7p4fi6TsIgBm22wP4ZsZMs6hvidEIfxI8I1omCqwJK1-_UUHoGc6ZOAJkMSPGNacDowiiy67u0FTynt_jadYaLInZtLaUSYEvVIZkWfqPM4FnVcUC6r3uc_bus2A-Sorw5NAULxPRuwZcgUfvL23HSXiZq_MuBPf4FBDppgksyA29qjmBxvTLYhvINBU154r5caneFIl4cg55etPUglR4VfzRJ5AEJBqSaaGoAxTlugdPMfiWVyz1gHVrRkfWLnVDXjDzPhcaZ_tvk9ZsyKL-7nJ0Tbp0CLs8YiGdxws0LfIsn80RCz9CiWE5mS6Obb7aSG2eVNX0wDGV-IkwnhohrlLfuwgMdMHmETCLr7eHxeTqux5A6MIHwh84ZH5eJbHxwuWqXuDgbprlkFLF44cQZPI_Jeu6nWJpyjmIJrmX9u5IXnipevb_CYDvKLVWNTOgHmoA3Xz9bM66Q4nOo1VIgQWudbr_6B5ivFM13KiNHClswZZVz5_C9Et0z7miJCjnm6JOEejJoXkNmTvwMVu6AoFfhotpK6WJpbRt5FBsWomGB--msTnyJerYlrTWwq-5E9psdBC2nhL0tiF02yeEAu7m9VX9tHO49zBB3DdvbQqfGb2HbkCBxRHgXKvAXs9S03B-Zs6IqpM89SWN4815A2Q61VFSy4K4N1IZmVOGkzW_QRB0xyqBbAK4zi4eH7gSr_bXsS13_MBCf7OSgHd_o28L7amy15wo0ETk0m59U_LkIlbZC8jhR44MSnh-vf34YZCH2Z8ZItIPGzy-F1tZE78f_2HZ6OxKukzwlc5ROca0ywqtgFqClSF4Axm6kow-BDwO_hfV7ViQKcCorvqbY8D3wr2BpNwGU_4n9n1ktUaUvPJtL8zkGyX9DhD21oeWNvMUMkbAv5YZXufw7bMptHkG5fmKzynGrF94InMtEMYrkDiezNDpt8JXaUY_jeUIpgJqfbj3A">



                                                            <div class="col-md-12">
                                                                <div class="form-group modalButton ozelmodal">


                                                                    <button class="button-modal">Gönder</button>

                                                                    <a href="/bein-connect" class="button-modal">Satın Al Anında İzle!</a>

                                                                </div>



                                                            </div>
                                                        </div>



                                                        <hr class="modelStroke">
                                                        <div class="col-md-12 modalPhoneTab">
                                                            <p class="p-modal">
                                                                Ayrıca tüm sorularınız için bize aşağıdaki telefon numarasından
                                                                ulaşabilirsiniz.
                                                            </p>
                                                        </div>
                                                        <div class="col-md-1 modalPhoneTab">
                                                            <img class="call-contact modalPhone" src="/Content/assets/img/phone.png" loading="lazy" alt="">
                                                        </div>
                                                        <div class="col-md-7 modalPhoneTab">
                                                            <h5 class="modal-number">
                                                                <span class="h6-contact">Bize Ulaşın</span><br> 0850 255 73 73
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="basvuruSorgulamaModel" class="sorgulamaModal">
                                <div class="basvuruSorgulamaModel-icerik">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="kapat" style="z-index: 9999;">×</span>
                                                <h5 class="h5-modal">Başvurunuzu Sorgulayın</h5>
                                            </div>
                                            <div class="col-md-12">

                                                <form action="/Home/BasvuruSorgula?Length=4" data-ajax="true" data-ajax-begin="capthca" data-ajax-method="Post" data-ajax-success="sorgusonuc" id="sorgulaform" method="post">
                                                    <div class="form-group modalForm">
                                                        <div class="formTitle">Telefon Numaranız</div>
                                                        <input type="tel" required="" name="telno" class="form-control phone-mask" id="telefonInput" placeholder="0(5__) ___ __ __" im-insert="true">
                                                        <div id="sorgumsg">
                                                        </div>



                                                        <input name="gtoken" class="g-token" type="hidden" value="03AFcWeA6QUG_PwX9Cazo7NRPYMXNqYlITI50pc5npshid5u2U4TlBO6YOnY-TjDzIZ7zGOxXzdqCJHtxShyb-ZbU2Do-QFf6xfTQ5yCyTMb3mgSVC9lXle6WnoDicMI51A4XY_y5Gj3ETiiNk3gM1CYI4K8Wa6jF8AJPx-S-XPZMmDQydTMKFF8APM0-qbsmADBMuBr8C9k7VMUDX21G0TTtqcqKG3xpuK4NF05gVUJlnOXDSwREGjUFfkeF7p4jMU955o8Yk0G-l6GBM5tyyrNT09fV4mKV51sZXM941MuC2PR98pwWcsIaj_E3JhWC59wJuFzJ3DTwxXwcDyIAvMwBwzZ5QlecWvAaO8u8o_lZ88gI_P2seOrp7qh4OquS5bbBXHl0F5xviXOH2H60GFh9PzlO5Vj9lsB2JfCcl_xM_iP6s5ylFuwOW1M8LYbAtJuS78X5xfzavBZjmhCTS2HFtEpffzboHZSPxg_utvaazE8wrwKvV9Bl_ptfkadt8upWHhhwAtalklvf1eTjB0b_YvGAxsilevSFAx-kGvpJLGbTBXtMNLvxy85J6vFmXhnYMjWzZ0X37zK42BeBTqUIQE0YXauF6Si6tCNhxTR-a0z_OqQj1Fm8Uk0x8G9AXgWRNFkmI7aFdSo_So15i8m_LOhg-xjnjHjt8SxYiNggFGpZQiileHpo9Bhs1LlrdsmHYevkT9rfyCpGLvWBiwKcJApGLhP28XGCBwewaMkCpKXLsLbnhlKVfHWBjR8XI2MKPoW_m05WinPhrOryVrYkpOKt7cSgYg5zsT_YizaDy-zGIKZE2-fdVmMByerDi5X4gqU7qBnMlIIbdTmEMF2trYQkdZWsCTKeJBACflC57g0D9WvzA6eyyqqXg43zoGd-b2x2wMtz7TRGUJwJm9rxq7p4fi6TsIgBm22wP4ZsZMs6hvidEIfxI8I1omCqwJK1-_UUHoGc6ZOAJkMSPGNacDowiiy67u0FTynt_jadYaLInZtLaUSYEvVIZkWfqPM4FnVcUC6r3uc_bus2A-Sorw5NAULxPRuwZcgUfvL23HSXiZq_MuBPf4FBDppgksyA29qjmBxvTLYhvINBU154r5caneFIl4cg55etPUglR4VfzRJ5AEJBqSaaGoAxTlugdPMfiWVyz1gHVrRkfWLnVDXjDzPhcaZ_tvk9ZsyKL-7nJ0Tbp0CLs8YiGdxws0LfIsn80RCz9CiWE5mS6Obb7aSG2eVNX0wDGV-IkwnhohrlLfuwgMdMHmETCLr7eHxeTqux5A6MIHwh84ZH5eJbHxwuWqXuDgbprlkFLF44cQZPI_Jeu6nWJpyjmIJrmX9u5IXnipevb_CYDvKLVWNTOgHmoA3Xz9bM66Q4nOo1VIgQWudbr_6B5ivFM13KiNHClswZZVz5_C9Et0z7miJCjnm6JOEejJoXkNmTvwMVu6AoFfhotpK6WJpbRt5FBsWomGB--msTnyJerYlrTWwq-5E9psdBC2nhL0tiF02yeEAu7m9VX9tHO49zBB3DdvbQqfGb2HbkCBxRHgXKvAXs9S03B-Zs6IqpM89SWN4815A2Q61VFSy4K4N1IZmVOGkzW_QRB0xyqBbAK4zi4eH7gSr_bXsS13_MBCf7OSgHd_o28L7amy15wo0ETk0m59U_LkIlbZC8jhR44MSnh-vf34YZCH2Z8ZItIPGzy-F1tZE78f_2HZ6OxKukzwlc5ROca0ywqtgFqClSF4Axm6kow-BDwO_hfV7ViQKcCorvqbY8D3wr2BpNwGU_4n9n1ktUaUvPJtL8zkGyX9DhD21oeWNvMUMkbAv5YZXufw7bMptHkG5fmKzynGrF94InMtEMYrkDiezNDpt8JXaUY_jeUIpgJqfbj3A">
                                                        <p class="pmaText"><a style="" href="/kisisel-verilerin-korunmasi" target="_blank">*Potansiyel Müşteri Aydınlatma</a> metnine ulaşmak için tıklayın.</p>
                                                        <div class="form-group modalButton" style="padding-top:0px !important">
                                                            <button class="button-modal">Sorgula</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <hr class="modelStroke">
                                            <div class="col-md-12 modalPhoneTab">
                                                <p class="p-modal">
                                                    Ayrıca tüm sorularınız için bize aşağıdaki telefon numarasından
                                                    ulaşabilirsiniz.
                                                </p>
                                            </div>
                                            <div class="col-md-2 modalPhoneTab">
                                                <img class="call-contact modalPhone" src="/Content/assets/img/phone.png" alt="">
                                            </div>
                                            <div class="col-md-7 modalPhoneTab">
                                                <h5 class="modal-number">
                                                    <span class="h6-contact">Bize Ulaşın</span><br> 0850 255 73 73
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fas fa-bars"></i></button>

                        </div>

                        <div class="col-auto d-none d-xl-block">
                            <a href="/canli-yayin" class="vs-btn">Canlı Yayın</a>
                            <button id="myBtn" onclick="javascript:$('#myModal').css('display','block')" class="vs-btn">Hemen Başvur</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


