<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <!-- Page Title -->
    <title>Digitürk TV ve İnternet Paketleri | En İyi Fırsatlar Burada | Digiturk</title>
    <meta name="description" content="Digitürk TV ve internet paketleriyle eğlence ve iletişim dünyasına kapılarınızı açın. Bein Sports paketleriyle sporun heyecanını doyasıya yaşayın. En uygun fiyatlar ve kampanyalar için hemen sitemizi ziyaret edin!">

    <link rel="shortcut icon" type="image/x-icon" href="/Content/assets/img/favicon.ico">

    <link rel="canonical" href="https://digiturk-internet.com.tr/">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <meta name="facebook-domain-verification" content="e9bq2k95bs5xifx04s1o3cr6wfj258">


    <link rel="manifest" href="/Content/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="/Content/assets/css/app.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/Content/assets/css/style.css">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KC6B9P3"></script>
    <script type="text/javascript" async="" charset="utf-8" src="https://www.gstatic.com/recaptcha/releases/EGbODne6buzpTnWrrBprcfAY/recaptcha__tr.js" crossorigin="anonymous" integrity="sha384-b2Z0CfRWBBOhubuy7yx1h0O7O4KrzhEFOMU886E/noHxtyqquSzll2d0nLGjTeM5"></script>
    <script src="https://kit.fontawesome.com/bf927cdb8e.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">



    <script src="https://cdn.jsdelivr.net/npm/flipdown@0.3.2/src/flipdown.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flipdown@0.3.2/dist/flipdown.min.css" rel="stylesheet">




    <meta name="google-site-verification" content="CTHcQj3bbnRhzahu_abKrly-UpFFJx4dKsWeo8n9dBM">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

</head>